.header {
  width: 100%;

  .nav {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;

    .logo {
      font-size: 20px;
      font-weight: bold;
    }

    a {
      margin-left: 12px;
    }
  }

}
